<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maqianyu.carhome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ArticleLetterInfoActivity" />
        <activity android:name=".ui.activity.ArticleNewInfoActivity" />
        <activity android:name=".ui.activity.ArticleCopyInfoActivity" />
        <activity android:name=".ui.activity.ForumAnlseseActivity" />
        <activity android:name=".ui.activity.ForumForumActivity" />
        <activity android:name=".ui.activity.ArticleMediaActivity" />
        <activity android:name=".ui.activity.LunBoInfoActivity" />
        <activity android:name=".ui.activity.WelcomeActivity" />
        <activity android:name=".ui.activity.SaveActivity" />
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.FinderInfoActivity"/>
        <activity android:name=".ui.activity.FinderPhotoActivity"/>
    </application>

</manifest>